<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.budget3">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="Особистий бюджет"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="Реєстрація"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shoppingListActivity"
            android:label="Списки покупок"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddIncome"
            android:label="Додати дохід"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainMenuActivity"></activity>
        <activity android:name=".AddOutlay" android:label="Додати витрату"/>
        <activity
            android:name=".OutlayList"
            android:label="Список"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".categoriesList"
            android:label="Категорії"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".shoppingListsList" />
        <activity
            android:name=".MainDrawer"
            android:label="Головне меню"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".balance"
            android:label="Баланс"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>